.container {
    margin: 30px 0;
}

.progressSoftSkills{
    margin: auto;
    width: 80%;
}

.progressSoftSkills .progress{
    margin: 20px 0;
    
}

.progress-bar {
    background-color: rgb(123, 142, 142);
}