<div class="container-fluid">
    <div class="text-center soft-skills lh-lg">
        <div class="row text-start">
            <h4 class="display-5 fw-bold text-center soft-skillsTitle">Soft Skills</h4>
        </div>
        <div class="row d-flex justify-content-center mt-5">
            <div class="col-md-12">
                <div class="progress blue">
                <h4 class="">Autoconfianza</h4>
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
                </div>

                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">37.5%</div>
                </div>

                <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
                </div>

                <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">37.5%</div>
                </div>

                <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
                </div>
            </div>
        </div>
    </div>
</div>
