<div class="container">
  <div class="row text-start">
    <h4 class="display-6 fw-bold text-center soft-skillsTitle">Soft Skills</h4>
  </div>
  <div class="progressSoftSkills">
    <label>Self Confidence</label>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 90%"
        aria-valuenow="90"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        90%
      </div>
    </div>

    <label>Communication</label>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 70%"
        aria-valuenow="70"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        70%
      </div>
    </div>

    <label>Stress Management</label>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 90%"
        aria-valuenow="90"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        90%
      </div>
    </div>

    <label>Conflict Management</label>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 75%"
        aria-valuenow="75"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        75%
      </div>
    </div>

    <label>Teamwork</label>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        style="width: 90%"
        aria-valuenow="90"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        90%
      </div>
    </div>
  </div>
</div>
