<div class="container-fluid">
  <div class="text-center projects lh-lg">
    <div class="row text-start projectsTitle">
      <h3 class="m-3 fw-bold">Projects</h3>
    </div>
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Name of the project</h5>
          <p class="card-text">Description of the project</p>
          <p class="card-text">
            <small class="text-muted">Date of creation</small>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <img src="..." class="card-img-bottom" alt="..." />
      </div>
      <div class="card m-3">
        <div class="card-body">
          <h5 class="card-title">Name of the project</h5>
          <p class="card-text">Description of the project</p>
          <p class="card-text">
            <small class="text-muted">Date of creation</small>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
        <img src="..." class="card-img-bottom" alt="..." />
      </div>
    </div>
  </div>