<div class="p-5 mb-4 bg-light rounded-3 banner">
  <div class="btn-edit">
    <button class="btn-editPen" type="button">
      <fa-icon [icon]="faPen"></fa-icon>
    </button>
  </div>
  <div class="container-fluid py-5 quote">
    <h1 class="display-5 text-center">
      <fa-icon class="quotationMark" [icon]="faQuoteLeft"></fa-icon>
      If you want to change your world, you need to start cultivating good
      habits.
      <fa-icon class="quotationMark" [icon]="faQuoteRight"></fa-icon>
    </h1>
  </div>
  <img src="../../assets/me.jpg" class="img-fluid" alt="..." />
</div>
