.container-fluid {
    padding: 1rem;
}

.btn-edit {
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.btn-editPen {
    border: none;
    border-radius: 50%;
    color: #fff;
    background-color: rgb(0, 206, 127);
    font-size: 13px;
    height: 30px;
    width: 30px;
}

.profileName{
    position: relative;
}
.btn-editName {
    position: absolute;
    top: -2rem;
    right: 2rem;
}

.profileDesc {
    margin-top: 7rem; 
    padding: 0.5rem;
}

.bio {
    position: relative;
}

.btn-editBio {
    position: absolute;
    top: -2rem;
    right: 2rem;
}