<div class="container-fluid">
    <div class="text-center education lh-lg">
      <div class="row text-start">
        <div class="col-12 fs-5 educationTitle">Education</div>
      </div>
      <div class="row lh-lg text-start educationDesc2">
        <div class="col-4 fs-5">
          <i
            class="far fa-circle"
            style="font-size: 12px; margin-right: 1rem"
          ></i
          >Zero To Mastery Academy -2022
        </div>
        <div class="col-8 fs-6">
          React Developer (with Redux, Hooks, GraphQL)
        </div>
      </div>
      <div class="row lh-lg text-start educationDesc">
        <div class="col-4 fs-5">
          <i
            class="far fa-circle"
            style="font-size: 12px; margin-right: 1rem"
          ></i
          >Educación IT - 2021
        </div>
        <div class="col-8 fs-6">Software Tester QA Junior</div>
      </div>
      <div class="row lh-lg text-start educationDesc2">
        <div class="col-4 fs-5">
          <i
            class="far fa-circle"
            style="font-size: 12px; margin-right: 1rem"
          ></i
          >FIT (Fashion Institute of Technology) -2013
        </div>
        <div class="col-8 fs-6">
          FIT's Summer ESL and Fashion Business Program
        </div>
      </div>
      <div class="row lh-lg text-start educationDesc">
        <div class="col-4 fs-5">
          <i
            class="far fa-circle"
            style="font-size: 12px; margin-right: 1rem"
          ></i
          >Universidad de Palermo - 2011
        </div>
        <div class="col-8 fs-6">Fashion Designer and Textile</div>
      </div>
    </div>
  </div>
