.educationTitle {
    font-weight: 600;
    padding: 0.5rem 2rem;
    color:rgb(0, 0, 0);
    text-transform: uppercase;
}
.educationRow {
    padding: 0.5rem 2rem;
}
.educationDesc {
    position: relative;
    padding: 1rem;
}

.educationDesc2 {
    position: relative;
    padding: 1rem;
}

.facircle {
    font-size: 9px;
    padding: 1rem;
}