<div class="container-fluid">
    <div class="text-center experience lh-lg">
      <div class="row text-start">
        <div class="col-12 fs-5 experienceTitle">Experience</div>
      </div>
      <div class="row experienceRow">
          <div class="col-4 fs-5" style="display: flex; justify-content: start; align-items: center">
            <fa-icon class="facircle" [icon]="faCircle"></fa-icon>
            AYPOO
          </div>
          <div class="col-8 fs-6 mb-0  experienceDesc">I worked as a...
            <div class="btn-editExp" onclick="changeExp()">
              <button class="btn-style" type="button"><i class="fas fa-pen"></i></button>
            </div>
            <div class="btn-deleteExp" onclick="changeExp()">
              <button class="btn-style" type="button"><i class="fas fa-times"></i></button>
            </div>
          </div>
        
        <div>
          <input id="editExp" type="text" oninput="newExp(this.value)" style="display: none">
        </div>
      </div>
      <div class="row experienceRow">
          <div class="col-4 fs-5" style="display: flex; justify-content: start; align-items: center">
            <fa-icon class="facircle" [icon]="faCircle"></fa-icon>
            Wordpress Developer
          </div>
          <div class="col-8 fs-6 mb-0  experienceDesc">I build...
            <div class="btn-editExp" onclick="changeExp()">
              <button class="btn-style" type="button"><i class="fas fa-pen"></i></button>
            </div>
            <div class="btn-deleteExp" onclick="changeExp()">
              <button class="btn-style" type="button"><i class="fas fa-times"></i></button>
            </div>
          </div>
        
        <div>
          <input id="editExp" type="text" oninput="newExp(this.value)" style="display: none">
        </div>
      </div>
    </div>
</div>
